
.chart-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Style the chart title */
h1 {
	text-align: center;
}

h2 {
	margin-bottom: 24px;
}

/* Style the chart bars */
.chartjs-render-monitor .chart-bar {
	background-color: rgba(54, 162, 235, 0.8);
	border-radius: 2px;
	padding: 4px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

/* Style the chart bars for eligible attendance */
.chartjs-render-monitor .chart-bar.eligible {
	background-color: #28a745; /* Green */
}

/* Style the chart bars for not eligible attendance */
.chartjs-render-monitor .chart-bar.not-eligible {
	background-color: #dc3545; /* Red */
}